<ng-include src="'navbar.html'"></ng-include>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="appuntamento in appuntamenti | filter:ricerca | filtroPriorita:colore">
      <div class="thumbnail" ng-class="{'alta':appuntamento.priorita=='#ff0000', 'media':appuntamento.priorita=='#ffa500', 'bassa':appuntamento.priorita=='#00ff00'}">
        <img src="" alt="">
        <div class="caption">
          <h3>{{appuntamento.titolo}}</h3>
          <p>{{appuntamento.data | date:'dd/MM/yyyy'}} alle: {{appuntamento.data | date:'HH:mm'}}</p>
          <p><a href="#" class="btn btn-primary" role="button" ui-sref="dettaglio({id:appuntamento.id})">Apri</a> <a href="#" class="btn btn-danger" role="button" ng-click="elimina($index)">Elimina</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
