<hr>
<div class="container">
  <form ng-submit="crea()" novalidate>
    <div class="form-group">
      <label for="titolo">Titolo</label>
      <input type="text" class="form-control" id="titolo" ng-model="appuntamento.titolo">
    </div>
    <div class="form-group">
      <label for="descrizione">Descrizione</label>
      <input type="text" class="form-control" id="descrizione" ng-model="appuntamento.descrizione">
    </div>
    <div class="form-group">
      <label for="luogo">Luogo</label>
      <input type="text" class="form-control" id="luogo" ng-model="appuntamento.luogo">
    </div>
    <div class="form-group">
      <label for="priorita">Priorità</label>
      <select class="form-control" id="priorita" ng-model="appuntamento.priorita">
        <option value="#ff0000">Alta</option>
        <option value="#ffa500">Media</option>
        <option value="#00ff00">Bassa</option>
      </select>
    </div>
    <div class="form-group">
      <label for="data">Data e Ora</label>
      <input type="datetime-local" class="form-control" id="data" ng-model="appuntamento.data">
    </div>
    <button type="submit" class="btn btn-primary">Salva</button>
  </form>
  <hr>
  <button class="btn btn-success" ng-click="back()">Indietro</button>
</div>
