<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="$parent.ricerca">
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="$parent.colore" ng-init="$parent.colore='tutte'">
            <option value="tutte">Tutte</option>
            <option value="#ff0000">Alta</option>
            <option value="#ffa500">Media</option>
            <option value="#00ff00">Bassa</option>
          </select>
        </div>
        <button class="btn btn-primary" ui-sref="crea">Aggiungi appuntamento</button>
      </form>
    </div>
  </div>
</nav>
